.PaymentBar {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  position: fixed;
  height: 51px;
  bottom: 0;
  padding: 0;

  .disabled {
    background-image: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/product-detail-button-dec-off.svg");
    width: 11px;
    height: 2px;
  }

  .abled {
    background-image: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/product-detail-button-dec-on.svg");
    width: 11px;
    height: 2px;
  }
}
